@media (min-width: 990px) {
    .MuiDataGrid-root.MuiDataGrid-root.tableGrid {
        overflow: hidden;
        width: 950px !important;
    }
}

.MuiDataGrid-row.Mui-even {
    background-color: #0000001c;
}
.tableContainer {
    height: 400px;
    width: 75%;
    margin: 50px auto;
}
